# Dependencies
node_modules
package-lock.json

# Build outputs
dist
build
*.local

# Cache
.cache
.vite

# Logs
*.log

# Environment
.env
.env.*

# IDE
.vscode
.idea

# Other
public/static
*.min.js
*.min.css
